NODE_ENV=development
AWS_ACCESS_KEY_ID=local
AWS_SECRET_ACCESS_KEY=local
AWS_REGION=us-east-1
DYNAMODB_ENDPOINT=http://dynamodb-local:8000
PORT=3001

SWAGGER_TITLE='Case Técnico Itaú - API de Mensagens 2'
SWAGGER_DESCRIPTION='API REST de mensagens com autenticação JWT'
SWAGGER_VERSION='1.0'
SWAGGER_TAG='Recursos da API'
SWAGGER_URL='/api/docs'

JWT_SECRET=secret
JWT_EXPIRATION_TIME=1h
JWT_AUDIENCE=case-tecnico-itau
JWT_ISSUER=case-tecnico-itau

MOCKED_USER_USERNAME=user
MOCKED_USER_PASSWORD=password

DD_API_KEY=<sua-api-key>
DD_SITE=datadoghq.com
DD_ENV=development
DD_SERVICE=challenge-itau
DD_VERSION=1.0.0
DD_AGENT_HOST=dd-agent
DD_TRACE_AGENT_PORT=8126
DD_DOGSTATSD_PORT=8125
